auth*txt
*/auth*txt

scripts/jars/*
!scripts/jars/INFO.txt

scripts/python3/__pycache__/*

logs/*
!logs/placeholder.txt

*ignore*

# This is supposed to be templated by ansible. DO NOT STORE IN REPO
docker-compose.yml
Dockerfile
jenkins_casc/*.yaml
jenkins_casc/*.yml
ansible/group_vars/jenkins_credentials.yml
